{
  "Kestrel": {
    "EndPoints": {
      "Http": {
        "Url": "http://localhost:5001"
      }
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "System": "Information",
      "Microsoft": "None"
    },
    "Console": {
      "FormatterName": "simple",
      "FormatterOptions": {
        "SingleLine": true
      }
    }
  },
  "SmsController": {
    "ConnectionString": "Server=localhost;Database=sms_api;Uid=xxx;....;",
    "UsernameHeader": "X-RapidAPI-User",
    "SecretHeaders": "Some-Secret"
  },
  "Auth": {
    "SecretHeaders": "Some-Secret",
    "SecretValue": "XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
  }
}
