{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "System": "Information",
      "Microsoft": "None"
    },
    "Console": {
      "FormatterName": "simple",
      "FormatterOptions": {
        "SingleLine": true
      }
    }
  },
  "SmsController": {
    "ConnectionString": "Server=localhost;Database=sms_api;Uid=xxx;....;",
    "UsernameHeader": "X-RapidAPI-User",
    "Numbers": [ "+0123456789" ]
  }
}
